{% extends 'base.html' %}

{% load static %}
{% load filtros %}

{% block title %}LicitaFácil - Consultoria em licitações{% endblock title %}</title>

{% block content %}
  <header>
    <div class="container" id="nav-container">
      <!-- add essa class -->
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark ">
        
        <a class="navbar-brand" href="{% url 'home'%}">
          <img id="logo" src="{{secao1.logo.url}}" alt="licitafacilbr"> {{secao1.logo_titulo}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
          <div class="navbar-nav">
            <a class="nav-item nav-link" id="home-menu" href="#">{{secao1.botao1|title}}</span></a>
            <a class="nav-item nav-link" id="services-menu" href="#portifolio-area">{{secao1.botao3|title}}</a>
            <a class="nav-item nav-link" id="sicaf-menu" href="#apply-area">{{secao1.botao4|title}}</a>
            <a class="nav-item nav-link" id="about-menu" href="#about-area">{{secao1.botao2|title}}</a>
            <a class="nav-item nav-link" id="contact-menu" href="#contact-area">{{secao1.botao5|title}}</a>
          </div>
        </div>
      
      </nav>
 </div>
  </header>
  <main>
    <div class="container-fluid">
       <!-- BANNERS --> 
      <div id="mainSlider" class='carousel slide' data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#mainSlider" data-slide-to="0" class="active"></li>

        </ol>
        <!-- BANNERS -->
  
        <div class="carousel-inner img">
            <div class="carousel-item active">
              <img src="{{secao1.banner.url}}" class="d-block w-100 img" alt="licitafacil">
              <div class="carousel-caption d-md-block">
                
                <h2>{{secao1.titulo_inicial}}</h5>
                <p>{{secao1.paragrafo_inicial}}</p>

                <a href='https://contate.me/licitafacilbr' target="_blank" class="btn btn-success new-btn " > 
                  <i class="fa fa-whatsapp  p-1" aria-hidden="true"></i>ENTRE EM CONTATO
                </a>

                <button type="button" class="btn btn-success  new-btn" data-toggle="modal" data-target="#modal_cadastro" >
                  <i class="fas fa-user-alt p-1"></i>CADASTRE-SE
                </button>
  
              </div>

            </div>
      
        </div>
   
      <!-- SOBRE -->
      <div id="portifolio-area">
        <div class="container">
          <div class='justify-content-center align-items-center row'>
            <div class="col-12">
              <h3 class="main-title">SERVIÇOS</h3>
             
            </div>
         
            <div class="col-md-4">
              <h4 class="about-title-orca">{{secao2.0.titulo}}</h4>
                <p>{{secao2.0.subtitulo}}</p>
                <ul id="about-list">
                 {% for i in secao2.0.itens.all %}
                 <li><i class="fas fa-check"></i>{{i}}</li>
                  {% endfor %}
                </ul>
                {% if secao2.0.preco %}
                <h4 class="about-title-orca">{{secao2.0.preco|formata_preco}}</h4>

                {% endif %}

                <br>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal_cadastro">
                  Cadastre-se
                </button>

                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal1">
                  Saiba mais
                </button>
               
            </div>

            <div class="col-md-4">
              <h4 class="about-title-orca">{{secao2.1.titulo}}</h4>
                <p>{{secao2.1.subtitulo}}</p>
                <ul id="about-list">
                 {% for i in secao2.1.itens.all %}
                 <li><i class="fas fa-check"></i>{{i}}</li>
                  {% endfor %}
                </ul>
                {% if secao2.1.preco %}
                <h4 class="about-title-orca">{{secao2.1.preco|formata_preco}}</h4>

                {% endif %}
                <br>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal_cadastro">
                  Cadastre-se
                </button>

                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal2">
                  Saiba mais
                </button>
               
            </div>

            <div class="col-md-4">
              <h4 class="about-title-orca">{{secao2.2.titulo}}</h4>
                <p>{{secao2.2.subtitulo}}</p>
                <ul id="about-list">
                 {% for i in secao2.2.itens.all %}
                 <li><i class="fas fa-check"></i>{{i}}</li>
                  {% endfor %}
                </ul>
                {% if secao2.2.preco %}
                <h4 class="about-title-orca">{{secao2.2.preco|formata_preco}}</h4>
                {% endif %}
                

                <br>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal_cadastro">
                  Cadastre-se
                </button>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal3">
                  Saiba mais
                </button>
               
            </div>
         
    
          </div>
        </div>

      </div>
   <!-- Button trigger modal -->

      <!-- SERVIÇOS -->
      <div id="services-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="main-title">Nossas especialidades</h3>
              </div>
             <div class="col-md-6 service-box">
              <i class="fas fa-rocket"></i>
              <h4>Agilidade</h4>
              <p>Facilidade, deixe a burocracia conosco</p>
            </div>
             <div class="col-md-6 service-box">
              <i class="fas fa-calendar"></i>
              <h4>Funcionamento</h4>
              <p>Serviços 24 horas verdadeiramente de alto nível</p>
            </div>
             <div class="col-md-6 service-box">
              <i class="fas fa-check"></i>
              <h4>Pontualidade</h4>
              <p>Serviços para o mesmo dia com qualidade incrível</p>
            </div>
             <div class="col-md-6 service-box">
              <i class="fas fa-handshake"></i>
              <h4>Qualidade</h4>
              <p>Aberto 7 dias por semana, oferecemos apenas o melhor</p>
            </div>
          </div>
        </div>
      </div>
      <!-- SICAF -->
      <div id="apply-area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 apply-box" id="company-img"></div>
            <div  class="col-md-6 apply-box" id="pattern-img">
              <h4>{{secao3.titulo}}</h4>
              <p>{{secao3.paragrafo| safe}}</p>
            </div>

            
          </div>
        </div>
    </div>

      <!-- ABOUT -->
      <div id="about-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="main-title">Sobre a Licita Fácil BR</h3>
             
            </div>
            <div class="col-md-6">
              <img class="img-fluid" src='{{secao1.logo.url}}' alt="imagem licitafacil">
            </div>
            <div class="col-md-6">
              <h3 class="about-title">{{secao5.titulo}}</h3>
              <p>{{secao5.paragrafo|safe}}</p>
             
            </div>
          </div>
        </div>

      </div>
      
      <!-- Newsletter -->
      <div id="news-area">
        <div class="container">
          <div class="col-md-12">
            <h3 class="main-title">Fique por dentro</h3>
          </div>
          <p>Assine nossa lista de e-mails, e receba novidades sobre licitações governamentais.</p>
          <form action="{% url 'newslatter' %}" onsubmit="return formNovidade()" method='POST'> {% csrf_token %}

      
              {{ form_email_novidades.email.errors }} <!-- EXIBE ERRROS DE VALIDAÇÃO CASO OCORRA! -->
              {{ form_email_novidades.email  }}

            <input type="submit" id="news-btn" value="Inscrever">
          </form>
        </div>
      </div>
      <!-- ORÇAMENTO -->
      <div id="call-area">
        <div class="container">
          <div class="row">
            <p>Deseja fazer um orçamento sem compromisso ?</p>&nbsp;&nbsp;
            <a href='https://contate.me/licitafacilbr' target="_blank" class="btn btn-success  p-2" style="font-size:50px; border-radius: 20px;"> 
              <i class="fa fa-whatsapp  p-1" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <br>
    </div>
  </main>
  <footer>
    <div id="contact-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="main-title">Entre em contato conosco</h3>
          </div>
          <div class="col-md-6 contact-box">
            <i class="fas fa-phone"></i>
              <p><span class="contact-title">Ligue para: </span>{{secao4.telefone}}</p>

          </div>
          <div class="col-md-6 contact-box">
            <i class="fas fa-envelope"></i>
            <p><span class="contact-title">Envie um e-mail: </span>{{secao4.email}}</p>
          </div>
 
          <div class="col-md-6" id="msg-box">
            <p>Ou nos deixe uma mensagem: </p>
          </div>
          <div class="col-md-6" id="contact-form"> 
            <form action="{% url 'email_contato' %}" onsubmit='return formContato()' method='POST'> {% csrf_token %}

              <div class="form-group">
                {{ form.email.errors }} <!-- EXIBE ERRROS DE VALIDAÇÃO CASO OCORRA! -->
                {{ form.email  }}
            </div>

              <div class="form-group">
                {{ form.assunto.errors }} <!-- EXIBE ERRROS DE VALIDAÇÃO CASO OCORRA! -->
                {{ form.assunto  }}
            </div>

              <div class="form-group">
                {{ form.texto.errors }} <!-- EXIBE ERRROS DE VALIDAÇÃO CASO OCORRA! -->
                {{ form.texto }}
            </div>

              <input type="submit" id="main-btn" value="Enviar">

            </form>

          </div>
        </div>

      </div>
    </div>

    <div id="copy-area">
      <div class="container">
        <div class="row">
       <div class="col-md-12">
            <p>
              Desenvolvido por
              <a href="http://linkedin.com/in/caiosilva97" target='_blank' style='text-decoration: none;'> 
                <span>
                  Caio Silva &copy; {% now 'Y'%} 
                </span> 
              </a>
            </p>
          </div> 
        </div>
      </div>
    </div>
  </footer>

{% endblock content %}